### Contents
    01. Grouping data and aggregating variables
    02. Aggregating data

# 01.Importing libraries and data

In [15]:
import pandas as pd
import numpy as np
import os
path=r'C:\Users\Мунаввар\Desktop\bootcamps\Achievement 4\Instacart Basket Analysis'
merged_ords_prods=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'merged_derived_data.pkl'))

# 02. Aggregating data

In [16]:
merged_ords_prods.shape

(32404859, 17)

In [17]:
merged_ords_prods.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders

In [18]:
# 2. Find the aggregated mean of the “order_number” column grouped by “department_id”
merged_ords_prods.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### Here we can observe all 21 departments with the mean value of orders. We can also notice that the difference between the lowest and highest order numbers is larger in this case.

In [19]:
# 4. Creating a loyalty flag for existing customers using the transform() and loc() functions.
merged_ords_prods['max_order']=merged_ords_prods.groupby(['customer_id'])['order_number'].transform(np.max)
merged_ords_prods.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders,10

In [20]:
merged_ords_prods.loc[merged_ords_prods['max_order']>40,'loyalty_flag']='Loyal customer'
merged_ords_prods.loc[(merged_ords_prods['max_order']<=40)&(merged_ords_prods['max_order']>10), 'loyalty_flag']='Regular customer'
merged_ords_prods.loc[merged_ords_prods['max_order']<=10, 'loyalty_flag']='New customer'

In [21]:
merged_ords_prods['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [22]:
# 5.check the basic statistics of the product prices for each loyalty category
merged_ords_prods.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [23]:
# 6. Create a spending flag for each user based on the average price across all their orders 
#Finding average spending per customer
merged_ords_prods['average_price']=merged_ords_prods.groupby(['customer_id'])['prices'].transform(np.mean)
merged_ords_prods.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders,10,New customer,6.367797

In [24]:
merged_ords_prods.shape

(32404859, 20)

In [25]:
#Creating flags
merged_ords_prods.loc[merged_ords_prods['average_price']<10, 'spending_flag']='Low spender'
merged_ords_prods.loc[merged_ords_prods['average_price']>=10, 'spending_flag']='High spender'
merged_ords_prods['spending_flag'].value_counts(dropna=False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [26]:
pd.options.display.max_rows = None
merged_ords_prods[['customer_id', 'average_price', 'spending_flag']].head(100)

    customer_id  average_price spending_flag
0             1       6.367797   Low spender
1             1       6.367797   Low spender
2             1       6.367797   Low spender
3             1       6.367797   Low spender
4             1       6.367797   Low spender
5             1       6.367797   Low spender
6             1       6.367797   Low spender
7             1       6.367797   Low spender
8             1       6.367797   Low spender
9             1       6.367797   Low spender
10           15       3.980556   Low spender
11           15       3.980556   Low spender
12           15       3.980556   Low spender
13           15       3.980556   Low spender
14           15       3.980556   Low spender
15           19       8.372059   Low spender
16           19       8.372059   Low spender
17           19       8.372059   Low spender
18           21       7.012683   Low spender
19           31       8.137793   Low spender
20           31       8.137793   Low spender
21           43       7.444898   Low spender
22           43       7.444898   Low spender
23           52       6.356287   Low spender
24           52       6.356287   Low spender
25           52       6.356287   Low spender
26           52       6.356287   Low spender
27           52       6.356287   Low spender
28           52       6.356287   Low spender
29           52       6.356287   Low spender
30           52       6.356287   Low spender
31           52       6.356287   Low spender
32           52       6.356287   Low spender
33           52       6.356287   Low spender
34           52       6.356287   Low spender
35           52       6.356287   Low spender
36           52       6.356287   Low spender
37           67       7.656790   Low spender
38           67       7.656790   Low spender
39           67       7.656790   Low spender
40           67       7.656790   Low spender
41           67       7.656790   Low spender
42           67       7.656790   Low spender
43           67       7.656790   Low spender
44           67       7.656790   Low spender
45           67       7.656790   Low spender
46           67       7.656790   Low spender
47           67       7.656790   Low spender
48           67       7.656790   Low spender
49           67       7.656790   Low spender
50           67       7.656790   Low spender
51           67       7.656790   Low spender
52           67       7.656790   Low spender
53           67       7.656790   Low spender
54           67       7.656790   Low spender
55           67       7.656790   Low spender
56           81       8.165385   Low spender
57           81       8.165385   Low spender
58           82       6.441221   Low spender
59           82       6.441221   Low spender
60           82       6.441221   Low spender
61           82       6.441221   Low spender
62           82       6.441221   Low spender
63           82       6.441221   Low spender
64           82       6.441221   Low spender
65           82       6.441221   Low spender
66           82       6.441221   Low spender
67           98       8.028000   Low spender
68           98       8.028000   Low spender
69           98       8.028000   Low spender
70           98       8.028000   Low spender
71           98       8.028000   Low spender
72           98       8.028000   Low spender
73           98       8.028000   Low spender
74          109       5.850725   Low spender
75          120       9.385714   Low spender
76          120       9.385714   Low spender
77          185       7.715000   Low spender
78          195       7.149730   Low spender
79          195       7.149730   Low spender
80          195       7.149730   Low spender
81          195       7.149730   Low spender
82          195       7.149730   Low spender
83          195       7.149730   Low spender
84          195       7.149730   Low spender
85          195       7.149730   Low spender
86          195       7.149730   Low spender
87          195       7.149730   Low spender
88          195       7.149730   Low spender
89          195       7.149730   Low spender
90          222       6.862397   Low spender
91          222       6.862397   Low spender
92          290       7.285597   Low spender
93          290       7.285597   Low spender
94          331       7.705128   Low spender
95          360      10.006250  High spender
96          377       8.496552   Low spender
97          387       7.396610   Low spender
98          420       7.387805   Low spender
99          420       7.387805   Low spender

In [27]:
#Creating an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.
merged_ords_prods['median_order_days']=merged_ords_prods.groupby(['customer_id'])['days_since_prior_order'].transform(np.median)
merged_ords_prods[['customer_id','median_order_days']].head(50)

    customer_id  median_order_days
0             1               20.5
1             1               20.5
2             1               20.5
3             1               20.5
4             1               20.5
5             1               20.5
6             1               20.5
7             1               20.5
8             1               20.5
9             1               20.5
10           15               10.0
11           15               10.0
12           15               10.0
13           15               10.0
14           15               10.0
15           19                6.0
16           19                6.0
17           19                6.0
18           21                7.5
19           31                6.0
20           31                6.0
21           43               10.0
22           43               10.0
23           52                8.0
24           52                8.0
25           52                8.0
26           52                8.0
27           52                8.0
28           52                8.0
29           52                8.0
30           52                8.0
31           52                8.0
32           52                8.0
33           52                8.0
34           52                8.0
35           52                8.0
36           52                8.0
37           67                7.0
38           67                7.0
39           67                7.0
40           67                7.0
41           67                7.0
42           67                7.0
43           67                7.0
44           67                7.0
45           67                7.0
46           67                7.0
47           67                7.0
48           67                7.0
49           67                7.0

In [28]:
merged_ords_prods.loc[merged_ords_prods['median_order_days']>20, 'order_frequency_flag']='Non-frequent customer'
merged_ords_prods.loc[(merged_ords_prods['median_order_days']>10)&(merged_ords_prods['median_order_days']<=20), 'order_frequency_flag']='Regular customer'
merged_ords_prods.loc[merged_ords_prods['median_order_days']<=10, 'order_frequency_flag']='Frequent customer'
merged_ords_prods['order_frequency_flag'].value_counts(dropna=False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [29]:
merged_ords_prods.shape

(32404859, 23)

In [ ]:
merged_ords_prods[['customer_id', 'median_order_days', 'order_frequency_flag']].head()

In [30]:
#Exporting the dataframe
merged_ords_prods.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'grouped_merged_data.pkl'))